/* Supprime le padding-top du body uniquement pour map.html avec une spécificité plus forte */
html, body {
  padding-top: 0 !important;
}

#map {
  height: 100vh;
}

.suivant-btn-container {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100vw;
  transform: none;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* le bouton n'est pas cliquable */
}

.suivant-btn {
  background: linear-gradient(90deg, var(--primary-color), var(--primary-gradient-end));
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  box-shadow: 0 2px 12px rgba(90,121,249,0.15);
  cursor: pointer;
  margin: 15px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suivant-btn p {
  margin: 0;
  font-size: 1.1rem;
  font-family: 'Kufam', sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

/* Bouton de réinitialisation */
.reset-btn-container {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100vw;
  z-index: 501;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.reset-btn {
  background: linear-gradient(90deg, var(--primary-color), var(--primary-gradient-end));
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  box-shadow: 0 2px 12px rgba(90,121,249,0.15);
  cursor: pointer;
  margin: 15px;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-btn p {
  margin: 0;
  font-size: 1.1rem;
  font-family: 'Kufam', sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.reset-btn img {
  width: 32px;
  height: 32px;
}

