/* Supprime le padding-top du body uniquement pour map.html avec une spécificité plus forte */
html, body {
  padding-top: 0 !important;
}

#map {
  height: 100vh;
}

.suivant-btn-container, .reset-btn-container {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100vw;
  transform: none;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* le bouton n'est pas cliquable */
}

.suivant-btn, .reset-btn {
  background: linear-gradient(90deg, var(--primary-color), var(--primary-gradient-end));
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--ecart);
  box-shadow: 0 2px 12px rgba(90,121,249,0.15);
  cursor: pointer;
  margin: var(--ecart);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-btn {
  pointer-events: auto;
}

.suivant-btn h3, .reset-btn h3 {
  color: #fff;
  text-align: center;
}
