.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-content footer {
  font-size: 12px;
  color: #dcdcdc;
  text-align: center;
  background-color:var(--primary-color);
  padding: 20px 0;
}

.hero-section {
  text-align: left;
  background: none;
  color: var(--primary-color);
  padding: var(--ecart);
  margin: 5px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column; 
  gap: calc(var(--ecart) / 2);
}

.hero-section h2, .hero-section p {
  color: var(--primary-color);
}

.textes-mentions-legales {
  display: flex;
  flex-direction: column;
  gap: var(--ecart);
  background-color: var(--primary-color);
  padding: var(--ecart);
}

.textes-mentions-legales h1, .textes-mentions-legales h2, .textes-mentions-legales p {
  color: var(--white-color);
  margin: 5px;
}