@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-color: rgba(90, 121, 249, 1);
  --primary-gradient-end: #354893;
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --btn-gradient-start: #F67F1E;
  --btn-gradient-end: #EBC333;
  --border-color: rgba(255, 255, 255, 1);
  --border: 3px solid var(--border-color);
  --ecart: 15px;
  --border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Kufam', sans-serif;
  background-color: var(--white-color);
  color: var(--black-color) !important; /* Force text color to black */
  color-scheme: light !important;
  height: 100%;
  width: 100%;
  padding-top: calc(var(--ecart) * 3.5); /* Ajoute un espace pour que le contenu ne passe pas sous la navbar */
  display: flex;
  flex-direction: column;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

h1 {
  font-size: 24px;
  color: var(--white-color);
  font-weight: 700;
  text-align: left;
  font-family: 'Kufam', sans-serif;
}

h2 {
  font-size: 24px;
  color: var(--white-color);
  font-weight: 700;
  text-align: left;
  font-family: 'Kufam', sans-serif;
}

h3 {
  font-size: 18px;
  color: var(--white-color);
  font-weight: 700;
  text-align: left;
  font-family: 'Kufam', sans-serif;
}

p {
  font-size: 16px;
  color: var(--white-color);
  font-weight: 500;
  text-align: left;
  font-family: 'Kufam', sans-serif !important;
}

/* Ajout des animations de vignette pour l'entrée et la sortie */
#vignette-overlay {
  position: fixed;
  z-index: 9999;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(90, 121, 249, 1);
  pointer-events: none;
}

.vignette-entry {
  animation: vignette-fadeout 2s cubic-bezier(.77,0,.18,1) forwards;
}

@keyframes vignette-fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.vignette-exit {
  /* Masque circulaire qui s'ouvre */
  animation: vignette-circle-open 2s cubic-bezier(.77,0,.18,1) forwards;
  clip-path: circle(0% at 50% 50%);
}

@keyframes vignette-circle-open {
  0% {
    opacity: 1;
    clip-path: circle(0% at 50% 50%);
  }
  100% {
    opacity: 1;
    clip-path: circle(150% at 50% 50%);
  }
}



