@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-color: rgba(90, 121, 249, 1);
  --white-color: rgba(245, 245, 245, 1);
  --btn-gradient-start: #F67F1E;
  --btn-gradient-end: #EBC333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Kufam', sans-serif;
  background-color: var(--white-color);
  height: 100%;
  color: black !important;
  color-scheme: light !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('img/background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 5px solid var(--white-color);
  border-radius: 15px;
  background-color: var(--primary-color);
}

.logo {
  width: 50px;
  height: 50px;
}

.title-container {
  flex-grow: 1;
  margin-left: auto;
}

.title {
  font-size: 24px;
  color: var(--white-color);
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-size: 15px;
  color: var(--white-color);
  font-weight: 400;
  text-align: center; 
}

.burger-menu {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.burger-menu img {
  width: 100%;
  height: 100%;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-overlay.active {
  display: flex;
}

.menu-content {
  text-align: center;
  width: 80%;
}

.menu-content ul {
  list-style: none;
}

.menu-content li {
  margin: 1.5rem 0;
}

.menu-content a {
  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
}

.close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: none;
  border: none;
  color: var(--white-color);
  cursor: pointer;
}

.menu-item-carte {
  border-radius: 25px;
  border: 5px solid #FFF;
  background: var(--principale, #5A79F9);
  padding: 10px; /* Pour que le contenu ne touche pas les bords */
  margin: 0; /* Pour éviter marges par défaut */
}

.menu-item-carte a {
  color: var(--white-color); 
  font-family: 'Kufam', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700; 
  line-height: normal;
  padding: 0 80px 0 80px;   
  /* permet d'élargir la zone du clique*/
}

.menu-item-vidéos {
  border-radius: 25px;
  border: 5px solid #FFF;
  background: linear-gradient(to right, var(--btn-gradient-start), var(--btn-gradient-end));
  padding: 10px; /* Pour que le contenu ne touche pas les bords */
  margin: 0; /* Pour éviter marges par défaut */
}

.menu-item-vidéos a {
  color: var(--white-color); 
  font-family: 'Kufam', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700; 
  line-height: normal;
  padding: 0 80px 0 80px;   
  /* permet d'élargir la zone du clique*/
}

.menu-item-langues {
  border-radius: 25px;
  border: 5px solid #FFF;
  background: var(--white-color, #5A79F9);
  padding: 10px; /* Pour que le contenu ne touche pas les bords */
  margin: 0; /* Pour éviter marges par défaut */
}

.menu-item-langues a {
  color: var(--primary-color); 
  font-family: 'Kufam', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700; 
  line-height: normal;
}

.langues-images {
  display: flex;
  gap: 15px; /* espace entre les images */
  margin-top: 8px;
  justify-content: center; /* centre les images sous le lien */
}

.langues-images img {
  width: 60px; /* taille des images */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.langues-images img:hover {
  transform: scale(1.1); /* léger zoom au survol */
}

.mentions-legales {
  display: inline-block; /* pour que la largeur soit celle du contenu */
  max-width: 300px;      /* limite la largeur */
  font-size: 12px !important;  color: rgba(255, 255, 255, 0.7);
  margin-top: 100px;
  line-height: 1.2;
  text-align: center;
  text-decoration: underline !important;
  cursor: pointer;
}