:root {
  --primary-color: rgba(90, 121, 249, 1);
  --white-color: rgba(245, 245, 245, 1);
  --btn-gradient-start: #F67F1E;
  --btn-gradient-end: #EBC333;
}

.videos1 {
  padding: 1rem;
  background: linear-gradient(to right, var(--btn-gradient-start), var(--btn-gradient-end));
  border-radius: 15px;
  max-width: 600px;
  margin: 0.8rem 1rem 0.8rem 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.videos1 h1 {
  font-family: 'Kufam', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0.5rem;
  color: var(--white-color);
  text-align: left;
}


.videos1 video{
  border-radius: 15px; 
  border: 5px solid var(--white-color); 
  display: block;
}

.video-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
  border: 5px solid var(--white-color);
}
